#ftux-get-started-wrapper h2 {
  text-align: center;
}
// Replace radio buttons with style types
#style-type input[type=radio] {
  // display:none;
}

.style-type-radio {
  width: 150px;
  height: 150px;
}

.style-type-radio-selected {
  filter: grayscale(100%);
}


// Replace checkboxes with color circles
#preferred-colors input[type=checkbox] {
  display:none;
}

#preferred-colors input[type=checkbox] + label {
  background: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display:inline-block;
  padding: 0 0 0 0px;
}

#preferred-colors input[type=checkbox]:checked + label {
  background: red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display:inline-block;
  padding: 0 0 0 0px;
}
